{#
/**
 * @file
 * Template for the order receipt.
 *
 * Available variables:
 * - order_entity: The order entity.
 * - billing_information: The billing information.
 * - shipping_information: The shipping information.
 * - payment_method: The payment method.
 * - totals: An array of order totals values with the following keys:
 *   - subtotal: The order subtotal price.
 *   - adjustments: An array of adjustment totals:
 *     - type: The adjustment type.
 *     - label: The adjustment label.
 *     - total: The adjustment total price.
 *     - weight: The adjustment weight, taken from the adjustment type.
 *   - total: The order total price.
 *
 * @ingroup themeable
 */
#}
<p>Thank you for your membership. Your membership payment has been successfully processed, please see your details below.</p>

<p>
  <strong>Membership type:</strong> {{ subscription.type }}<br/>
  <strong>Renewal date:</strong> {{ subscription.renewal_date }}
</p>
<p>
  <strong>Payment reference:</strong> {{ order_entity.getOrderNumber }}<br/>
  <strong>Payment:</strong> {{ order_entity.getTotalPrice|commerce_price_format }}<br/>
  <strong>Payment date:</strong> {{ order_entity.getCompletedTime|format_date }}<br/>
  {% if payment_method %}<strong>Payment method:</strong> {{ payment_method }}<br/>{% endif %}
  <strong>Billing address:</strong>{{ billing_information }}
</p>
