{#
/**
 * @file
 * Template for the membership payment failure notification.
 *
 * Available variables:
 * - order_entity: The order entity.
 * - membership_entity: The membership entity.
 * - billing_information: The billing information, if available.
 * - payment_method: The payment method, if available.
 * - membership: An array of:
 *   - type: The membership product label.
 *   - renewal_date: The renewal date for the membership.
 *   - expiration_date: The expiration date for the membership.
 *
 * @ingroup themeable
 */
#}
<p>Thank you for your membership. Unforunately, we have been unable to renew your membership as we have been unable to take payment.</p>

<p>
  <strong>Membership type:</strong> {{ subscription.type }}<br/>
  <strong>Renewal date:</strong> {{ subscription.renewal_date }}
</p>

<p>This may be because your card has expired.</p>

<p>If we haven't received payment by {{ subscription.expiration_date }}, we will cancel your subscription.</p>

<a href="{{ subscription.renewal_link }}" class="button">Renew my membership</a>
